* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #515076;
  font-weight: 400;
  font-size: 13px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
  margin-bottom: 5px;
}

.product-price-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.card {
  display: inline-block;
}

.card-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 110px 85px 116px 85px;
  justify-content: center;
  row-gap: 45px;
  column-gap: 45px;
}

.container {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 85px -75px;
  width: 1280px;
  background-image: url("/assets/bg-flowers.png");
  background-size: 790px 697px;
}

.title {
  margin-top: 0px;
  padding-top: 220px;
  text-align: center;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
}

.bg-yellow {
  background-color: yellow;
}

.product-compound-list {
  margin-left: 14px;
  margin-bottom: 25px;
  margin-top: 5px;
}

.footer {
  width: 1728px;
  height: 477px;
  background-color: #3A3A3A;
}

.footer-container {
  width: 1569px;
  height: 147px;
  padding-top: 85px;
  padding-left: 84px;
  display: flex;
  justify-content: space-between;
}

.footer-title {
  font-weight: 800;
  font-style: ExtraBold;
  font-size: 28px;
  line-height: 154%;
  color: #FFFFFF;
}

.footer-description {
  margin-top: 16px;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 154%;
  color: #FFFFFF;
}

.footer-icons {
  display: flex;
  margin-top: 42px;
  gap: 30px;
}

.form {
  text-align: center;
}

.form-title {
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  color: #FFFFFF;
}

.form-input-btn {
  margin-top: 13px;
  width: 477px;
  height: 61px;
  border-radius: 10px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between
}

.form-input {
  margin: 10px 30px;
  border: none;
  outline: none;
  color: #000000BF;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
}

.form-button {
  margin: 10px 20px;
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  border: none;
  background-color: #FFFFFF;
}

.line-btn {
  width: 1px;
  border: none;
  margin: 20px;
  margin-left: 60px;
  background-color: #000;
}

.line-website {
  margin-top: 206px;
}

.website {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  margin-top: 33px;
  color: #FFFFFF;
}

.social-links {
  list-style-type: none;
  margin-top: 20px;
}

.social-links li a{
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer-right-title {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  color: #FFFFFF;
}

.registration-form {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;
}

/* Уровень 3 */

.auth-btn {
  padding: 12px 24px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-showed {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
  position: relative;
  max-width: 400px;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin: auto;
  z-index: 1001;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: #555;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

#message {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}