* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #515076;
  font-weight: 400;
  font-size: 13px;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-bottom: 25px;
}

.product-compound-item {
  margin-left: 14px;
  margin-bottom: 5px;
}

.product-price-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.product-price {
  font-size: 20px;
  line-height: 24px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.card {
  display: inline-block;
}

.card-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 110px 85px 116px 85px;
  justify-content: center;
  row-gap: 45px;
  column-gap: 45px;
}

.container {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 85px -75px;
  width: 1280px;
  background-image: url("/assets/bg-flowers.png");
  background-size: 790px 697px;
}

.title {
  margin-top: 0px;
  padding-top: 220px;
  text-align: center;
  font-size: 70px;
  line-height: 78px;
  color: #515076;
}
